body{
background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listepisodes {
  padding: 20px;


}

.listepisodes h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;

}

.roster li {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  list-style: none;
}


main{
    display:grid;
    gap:30px;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1200px;
    padding: 20px;

}

.details button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px; 
}